<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<title></title>
</head>
<body id="website-home-body">
	<h1 id="website-title">Welcome to the Disney Vault Database!</h1>
	<h4 id="website-subtitle">The #1 Resource for Every Disney Movie Under the Sun</h4>
	<br>
	<br>
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center" id="home-page-movies">
			<div class="col-4">
				<div class="textContainer">
					<p class="home-page-center">To see our list of 400+ Disney movies, click here:</p>
					<a class="home-page-center" href="/movies">Movies</a>
				</div>
			</div>
			<div class="col-4">
				<div class="textContainer">
					<p class="home-page-center">To create your own account and help update our database, click here:</p>
					<a class="home-page-center" href="/users/register">Create a New Account</a>
				</div>
			</div>
			<div class="col-4">
				<div class="textContainer">
					<p class="home-page-center">Already have an account? Then click here to sign in:</p>
					<a class="home-page-center" href="/users/login">Login</a>
				</div>
			</div>
		</div>
	</div>
>>>>>>> thursdayafternoonmerge

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">DVDb</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/movies">Movies</a>
				<a class="nav-item nav-link" href="/users">Profiles</a>
			</div>
		</div>
	</nav>

	<script src="../javascripts/app.js"></script>
</body>
</html>