<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<title></title>
</head>
<body>
	<p>This is the home page.</p>
	<a href="/movies">Movies</a><br>
	<a href="/users/register">Create a New Account</a><br>
	<a href="/users/login">Login!</a>

	<script src="javascripts/app.js"></script>
</body>
</html>