<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
<p>This is the movie listing page.</p>
	<ul>

	<% for (let i = 0; i < movies.length; i++){%>
		<li><a href="/movies/<%=i%>"><%=movies[i].name %></a></li>
	<%}%>

	</ul>
<a href="/">Return to Home</a><br>
<a href="">Profile</a>



<p>-------------------------------------------</p><br>
<p>Test Code:</p><br>
<p id="code-target"></p><br>
<p>If there's a movie overview being listed above this line of text, then the ajax is working.</p><br>
<p>-------------------------------------------</p><br>



<!-- Example of a full-screen modal in Bootstrap -->
<!-- 	<div id="active-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="active-modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" id="question-space" role="document">
			<div class="modal-content" id="question-content">
				<div class="modal-header" id="question-header">
					<div class="container-fluid" id="question-title-board">
						<div class="row no-gutters" id="question-title-row">
							<div class="col-1">
								
							</div>
							<div class="col-10" id="question-title-display">
								<h5 class="modal-title" id="active-modalLabel">Category Name - #00pts</h5>
							</div>
							<div class="col-1">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">x</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-body" id="question-body">
					<div class="container-fluid" id="question-board">
						<div class="row no-gutters" id="modal-row-one">
							<div class="col-5" id="question-p1-display">
								<h6 id="p1-question-name">Player 1</h6>
								<h6 id="p1-points-counter">Points: #00</h6>
							</div>
							<div class="col-2" id="question-timer-display">
								<h6>Timer</h6>
								<h6 id="timer-counter">15s</h6>
							</div>
							<div class="col-5" id="question-p2-display">
								<h6 id="p2-question-name">Player 2</h6>
								<h6 id="p2-points-counter">Points: #00</h6>
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-two">
							<div class="col-5" id="question-p1-turn">
								<h6 id="question-p1-indicator">Your Turn!!!</h6>
							</div>
							<div class="col-2">
								
							</div>
							<div class="col-5" id="question-p2-turn">
								<h6 id="question-p2-indicator">Your Turn!!!</h6>
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-three">
							<div class="col-1">
								
							</div>
							<div class="col-10" id="question-text">

							</div>
							<div class="col-1">
								
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-four">
							<div class="col-1">

							</div>
							<div class="col-10">
								<h6>Your Answer:</h6>
								<textarea class="form-control" id="message-text"></textarea>
							</div>
							<div class="col-1">

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" id="question-footer">
					<button type="button" class="btn btn-primary" id="answer-button" data-dismiss="modal">Submit Answer</button>
				</div>
			</div>
		</div>
	</div> -->



<!-- Main Page Layout in Bootstrap -->
	<div class="container-fluid" id="main-page-layout">
		<div class="row no-gutters" id="title-row">
			<div class="col-1">
				
			</div>
			<div class="col-10" id="title-display">
				<div class="textContainer">
					<h1 class="font-weight-bold">Movie Listing Page</h1>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="main-movie-row">
			<div class="col-1">
				
			</div>
			<div class="col-7">
				<div class="textContainer" id="main-movie-info">
				</div>
			</div>
			<div class="col-3 align-self-stretch">
				<div class="textContainer" id="side-movie-info">
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
	</div>

	<br>

	<div class="container-fluid" id="user-textarea-layout">
		<p>
			<button id="button-one" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#first-textarea-layout" aria-expanded="false" aria-controls="first-textarea-layout">First Section</button>
			<button id="button-two" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#second-textarea-layout" aria-expanded="false" aria-controls="second-textarea-layout">Second Section</button>
			<button id="button-three" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#third-textarea-layout" aria-expanded="false" aria-controls="third-textarea-layout">Third Section</button>
		</p>
		<div class="row no-gutters justify-content-center collapse" id="first-textarea-layout">
			<div class="col-12">
				<div class="textContainer">
					<p>First first first...</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center collapse" id="second-textarea-layout">
			<div class="col-10">
				<div class="textContainer">
					<p>Second second second...</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center collapse" id="third-textarea-layout">
			<div class="col-1">
				<div class="textContainer"></div>
			</div>
			<div class="col-10">
				<div class="textContainer">
					<p>Third third third...</p>
				</div>
			</div>
			<div class="col-1">
				<div class="textContainer"></div>
			</div>
		</div>
	</div>








	<div class="container-fluid" id="text-boxes-layout">
		<div class="row no-gutters align-items-center" id="first-row">
			<div class="col-1">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="second-row">
			<div class="col-2">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="third-row">
			<div class="col-1">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-6">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="fourth-row">
			<div class="col-1">
				
			</div>
			<div class="col-4">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-4">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="fifth-row">
			<div class="col-4">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-4">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="sixth-row">
			<div class="col-1">
				
			</div>
			<div class="col-10">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="seventh-row">
			<div class="col-1">
				
			</div>
			<div class="col-5">
				<div class="textContainer">
					<a href="/"><span class="font-weight-normal">Return to Home</span></a>
				</div>
			</div>
			<div class="col-5">
				<div class="textContainer">
					<a href="#"><span class="font-weight-normal">Profile</span></a>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
	</div>

	<div class="container-fluid" id="navbar-space">
		<div class="row no-gutters align-items-center" id="empty-navbar-row">
			<div class="col-12" id="empty-navbar-div">
				
			</div>
		</div>
	</div>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">MediaFranchiseApp</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link active" href="/movies">Movies <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link disabled" href="#">Television</a>
			</div>
		</div>
	</nav>

	<script src="javascripts/app.js"></script>
</body>
</html>