<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
<p>This is the movie listing page.</p>
	<ul>

	<% for (let i = 0; i < movies.length; i++){%>
		<li><a href="/movies/<%=i%>"><%=movies[i].name %></a></li>
	<%}%>

	</ul>
<a href="/">Return to Home</a><br>
<a href="">Profile</a>
</body>
</html>