<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
<p>This is the movie listing page.</p>
	<ul>

	<% for (let i = 0; i < movies.length; i++){%>
		<li><a href="/movies/<%=movies[i].id%>"><%=movies[i].name %></a></li>
	<%}%>

	</ul>
<a href="/">Return to Home</a><br>
<a href="/users">My Profile</a>



<p>-------------------------------------------</p><br>
<p>Test Code:</p><br>
<p id="code-target"></p><br>
<p>If there's a movie overview being listed above this line of text, then the ajax is working.</p><br>
<p>-------------------------------------------</p><br>



<!-- Example of a full-screen modal in Bootstrap -->
<!-- 	<div id="active-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="active-modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" id="question-space" role="document">
			<div class="modal-content" id="question-content">
				<div class="modal-header" id="question-header">
					<div class="container-fluid" id="question-title-board">
						<div class="row no-gutters" id="question-title-row">
							<div class="col-1">
								
							</div>
							<div class="col-10" id="question-title-display">
								<h5 class="modal-title" id="active-modalLabel">Category Name - #00pts</h5>
							</div>
							<div class="col-1">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">x</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-body" id="question-body">
					<div class="container-fluid" id="question-board">
						<div class="row no-gutters" id="modal-row-one">
							<div class="col-5" id="question-p1-display">
								<h6 id="p1-question-name">Player 1</h6>
								<h6 id="p1-points-counter">Points: #00</h6>
							</div>
							<div class="col-2" id="question-timer-display">
								<h6>Timer</h6>
								<h6 id="timer-counter">15s</h6>
							</div>
							<div class="col-5" id="question-p2-display">
								<h6 id="p2-question-name">Player 2</h6>
								<h6 id="p2-points-counter">Points: #00</h6>
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-two">
							<div class="col-5" id="question-p1-turn">
								<h6 id="question-p1-indicator">Your Turn!!!</h6>
							</div>
							<div class="col-2">
								
							</div>
							<div class="col-5" id="question-p2-turn">
								<h6 id="question-p2-indicator">Your Turn!!!</h6>
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-three">
							<div class="col-1">
								
							</div>
							<div class="col-10" id="question-text">

							</div>
							<div class="col-1">
								
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-four">
							<div class="col-1">

							</div>
							<div class="col-10">
								<h6>Your Answer:</h6>
								<textarea class="form-control" id="message-text"></textarea>
							</div>
							<div class="col-1">

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" id="question-footer">
					<button type="button" class="btn btn-primary" id="answer-button" data-dismiss="modal">Submit Answer</button>
				</div>
			</div>
		</div>
	</div> -->



<!-- Main Page Layout in Bootstrap -->
	<div class="container-fluid" id="main-page-layout">
		<div class="row no-gutters" id="title-row">
			<div class="col-1">
				
			</div>
			<div class="col-10" id="title-display">
				<div class="textContainer">
					<h1>Movie Listing Page</h1>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="first-row">
			<div class="col-1">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="second-row">
			<div class="col-2">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="third-row">
			<div class="col-1">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-6">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="fourth-row">
			<div class="col-1">
				
			</div>
			<div class="col-4">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-4">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="fifth-row">
			<div class="col-4">
				
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-2">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-4">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="sixth-row">
			<div class="col-1">
				
			</div>
			<div class="col-10">
				<div class="textContainer">
					<p>Text Here</p>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-items-center" id="seventh-row">
			<div class="col-1">
				
			</div>
			<div class="col-5">
				<div class="textContainer">
					<a href="/">Return to Home</a>
				</div>
			</div>
			<div class="col-5">
				<div class="textContainer">
					<a href="">Profile</a>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
	</div>

	<script src="javascripts/app.js"></script>
</body>
</html>