<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<p>This is the movie listing page.</p>
	<ul>

	<% for (let i = 0; i < movies.length; i++){%>
		<li><a href="/movies/<%=movies[i].id%>"><%=movies[i].name %></a></li>
	<%}%>

	</ul>


<!-- Example of a full-screen modal in Bootstrap -->
<!-- 	<div id="active-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="active-modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" id="question-space" role="document">
			<div class="modal-content" id="question-content">
				<div class="modal-header" id="question-header">
					<div class="container-fluid" id="question-title-board">
						<div class="row no-gutters" id="question-title-row">
							<div class="col-1">
								
							</div>
							<div class="col-10" id="question-title-display">
								<h5 class="modal-title" id="active-modalLabel">Category Name - #00pts</h5>
							</div>
							<div class="col-1">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">x</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-body" id="question-body">
					<div class="container-fluid" id="question-board">
						<div class="row no-gutters" id="modal-row-one">
							<div class="col-5" id="question-p1-display">
								<h6 id="p1-question-name">Player 1</h6>
								<h6 id="p1-points-counter">Points: #00</h6>
							</div>
							<div class="col-2" id="question-timer-display">
								<h6>Timer</h6>
								<h6 id="timer-counter">15s</h6>
							</div>
							<div class="col-5" id="question-p2-display">
								<h6 id="p2-question-name">Player 2</h6>
								<h6 id="p2-points-counter">Points: #00</h6>
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-two">
							<div class="col-5" id="question-p1-turn">
								<h6 id="question-p1-indicator">Your Turn!!!</h6>
							</div>
							<div class="col-2">
								
							</div>
							<div class="col-5" id="question-p2-turn">
								<h6 id="question-p2-indicator">Your Turn!!!</h6>
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-three">
							<div class="col-1">
								
							</div>
							<div class="col-10" id="question-text">

							</div>
							<div class="col-1">
								
							</div>
						</div>
						<div class="row no-gutters" id="modal-row-four">
							<div class="col-1">

							</div>
							<div class="col-10">
								<h6>Your Answer:</h6>
								<textarea class="form-control" id="message-text"></textarea>
							</div>
							<div class="col-1">

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" id="question-footer">
					<button type="button" class="btn btn-primary" id="answer-button" data-dismiss="modal">Submit Answer</button>
				</div>
			</div>
		</div>
	</div> -->

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">MediaFranchiseApp</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link active" href="/movies">Movies <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/users">Profiles</a>
			</div>
		</div>
	</nav>
	<script src="../javascripts/app.js"></script>
</body>
</html>