<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
<header>
	<h1>Create a Movie</h1>
</header>
<main>
	<form action="/movies" method="POST">
		Title: <input type="text" name="name"><br>
		Release Year: <input type="text" name="releaseDate"><br>
		<input type="submit" value="Create Movie">
	</form>
<a href="/movies">Return to Movie List</a><br>
<a href="/">Return to Home</a>
<script src="../javascripts/app.js"></script>
</body>
</html>