<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body class="website-addactor-body">
	<header style="margin-top: 0.5rem;">
		<h1 id="addactor-movie-name">Add an Actor to Our Vault</h1>
	</header>

	<br>

	<main>
		<form id="addactor-form" action="/movies/newactor" method="POST">
			Name: <input type="text" name="name"><br>
			<br>
			<input type="submit" value="Add Actor">
		</form>
		<br>
		<div style="text-align: center;">
			<a href="/movies/" style="color: white;">Back to Movies Page</a>
		</div>
	</main>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">DVDb</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link active" href="/movies">Movies <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/users">Profiles</a>
			</div>
		</div>
	</nav>

	<script src="../javascripts/app.js"></script>
</body>
</html>