<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<header>
		<h1 id="addchar-movie-name">Add a Character to Our Vault</h1>
	</header>

	<br>

	<main>
		<form id="addchar-form" action="/movies/newchar" method="POST">
			Name: <input type="text" name="name"><br>
			<br>
			<input type="submit" value="Add Character">
		</form>
	</main>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">DVDb</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link active" href="/movies">Movies <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/users">Profiles</a>
			</div>
		</div>
	</nav>

	<script src="../javascripts/app.js"></script>
</body>
</html>