<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<p>Profile Page</p>
	<a href="/movies">List of Movies</a><br>
	<a href="/">Home</a>

	<script src="javascripts/app.js"></script>
</body>
</html>