<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body id="website-users-page-body">
	<h1 id="users-page-title" style="margin-top: 0.5rem;">Users Page</h1>

	<div class="container-fluid">
		<div class="row no-gutters justify-content-center" style="padding: 0.5em 0;">
			<div class="col-3">
				<div class="textContainer">
					<a href="/users/register">Register for a new account!</a><br>
					<a href="/users/login">Login</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row no-gutters justify-content-center" style="padding: 0.5em 0; color: black;">
			<div class="col-3">
				<div class="textContainer">
					<h3 id="users-list-header" style="margin: 0;">List of Users:</h3>
					<% for (let i = 0; i < users.length; i++) { %>
						<a href="/users/<%=users[i].username%>"><p style="text-align: center; margin: 0.5rem 0 0 0;"><%= users[i].username %></p></a>
					<% } %>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">DVDb</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link" href="/movies">Movies</a>
				<a class="nav-item nav-link active" href="/users">Profiles <span class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>
	<script src="../javascripts/app.js"></script>
</body>
</html>