<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<h3 id="user-login-page-title">Log In</h3>
	<br>
	<form id="user-login-form" action="/users/login" method="POST">
		Username: <input type='text' name='username'>
		<br>
		Password: <input type='text' name='password'>
		<br>
		<button type="submit">Login</button>
	</form>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">MediaFranchiseApp</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link" href="/movies">Movies</a>
				<a class="nav-item nav-link active" href="/users">Profiles <span class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>
	
	<script src="../javascripts/app.js"></script>
</body>
</html>