<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<h3><%=person.username%></h3>



	<a href="/movies">List of Movies</a><br>
	<a href="/users">List of Users</a>
	
	<script src="../javascripts/app.js"></script>
</body>
</html>