<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<h2><%=person.username%></h2>
	<br>
	<h4 font-weight="bold">My Movie Reviews</h4>
		<h5>
			<%if (person.ratedMovies.length > 0){%>
				<%for (let i = 0; i < person.ratedMovies.length; i++){%>
					<%=person.ratedMovies[i].movie%> : <%=person.ratedMovies[i].rating%>
					<br>
				<%}%>
			<%}%>
		</h5>

	<p>
		<a href="/movies">List of Movies</a><br>
		<a href="/users">List of Users</a>
	</p>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">DVDb</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link" href="/movies">Movies</a>
				<a class="nav-item nav-link active" href="/users">Profiles <span class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>

	<script src="../javascripts/app.js"></script>
</body>
</html>