<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
	<h3>Create an account!</h3>
	<br>
	<form action="/users/register" method="POST">
		Username: <input type='text' name='username'>
		<br>
		Password: <input type='text' name='password'>
		<br>
		<button type="submit">Register</button><br>
	</form>	
	<a href="/users">Full List of Users</a><br>
	<a href="/movies">Full List of Movies</a><br>
	<a href="/">Site Home</a>

	<script src="../javascripts/app.js"></script>
</body>
</html>